
.el-message-box {
  width: auto !important;
  min-width: 420px !important;
}

.pagination {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.pagination p.count {
  font-size: 14px !important;
  margin-right: 10px !important;
  color: #666 !important;
}

.el-select .el-input {
  width: 130px !important;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff !important;
}

.pagination p.count {
  font-size: 14px !important;
  margin-right: 10px !important;
  color: #666 !important;
}

body {
  /*font-family: PingFang SC !important;*/
  background-color: #F2F5FA !important;
  Font-family: "PingFangSC-Light", "Microsoft YaHei", Roboto,Helvetica Neue Light, Tahoma, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif !important;
}

.el-container {
  display: flex !important;
  flex-direction: column !important;
}

/*左侧导航一些样式，只能这样强行改*/
.el-submenu__title {
  color: rgba(41,47,58,1) !important;
  font-size: 14px !important;
}
.el-submenu__title:hover {
  background-color: #F2F6FA !important;
}
.el-menu-item-group__title {
  padding: 0 !important;
}
.el-menu {
  border-right: 0 !important;
}

.el-menu-item {
  font-size: 14px !important;
  height: 56px !important;
  line-height: 56px !important;
}

.el-menu-item.is-active {
  background-color: #F2F6FA !important;
  color: #347EFF !important;
}

.el-menu-item:focus, .el-menu-item:hover {
  background-color: #F2F6FA !important;
}

.el-submenu__title span, .el-menu-item span {
  font-size: 14px !important;
}

/*表单输入框*/
.el-form-item {
  margin-bottom: 0 !important;
  display: flex !important;
  flex-direction: column !important;
}

/*输入框名字前的星号*/
.el-form-item.is-required .el-form-item__label:before {
  content: '' !important;
  margin-right: 0 !important;
}

/*输入框上面标签文字*/
.el-form-item__label {
  width: auto !important;
  font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif !important;
  font-size: 16px !important;
  color: #082155 !important;
  line-height: 35px !important;
  text-align: left !important;
}

/*输入框*/
.el-form-item__content {
  margin-left: 0 !important;
}

/*输入框成功颜色*/
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color: #4488FF !important;
}

/*输入框错误提示文字*/
.el-form-item__error {
  display: none !important;
}

/*面包*/
.el-breadcrumb {
  margin: 5px 0 23px 5px !important;
}

.el-breadcrumb__inner, .el-breadcrumb__inner a {
  font-weight: 400 !important;
  color: #5a5e66 !important;
}

.el-breadcrumb__inner a:hover, .el-breadcrumb__inner:hover {
  color: #5a5e66 !important;
  cursor: text !important;
}

.write-content {
  background-color: white !important;
  padding: 40px !important;
  border-radius: 3px !important;
}

.el-tabs {
  background-color: white !important;
  padding: 10px 10px !important;
  border-radius: 2px !important;
}

th {
  font-weight: 200 !important;
}

.el-table thead {
  color: rgba(41,47,58, 0.5) !important;
  font-weight: 200 !important;
}

.el-table {
  color: rgb(104, 114, 140) !important;
}

.el-tabs__item {
  color: rgba(104,114,140,.5) !important;
}

.el-tabs__item.is-active {
  color: #4488ff !important;
}

.el-button--primary:focus, .el-button--primary:hover {
  background-color: #347EFF !important;
  color: #fff !important;
}

input::-webkit-input-placeholder{
  color: rgba(41,47,58, 0.3) !important;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color: rgba(41,47,58, 0.3) !important;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color: rgba(41,47,58, 0.3) !important;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color: rgba(41,47,58, 0.3) !important;
}

.center-tip {
  position: absolute;
  left: 0;
  right: 0;
  top:200px;
  bottom: 200px;
  color: rgb(104, 114, 140) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

